.left {
  width: 40px;
}

.center {
  width: calc(100% - 160px);
}

.right {
  width: 120px;
}

.left, .center, .right {
  color: #fff;
}

.wrapper {
  height: 50px;
  border-bottom: 1px solid var(--gradient-color3);
}
