<div class="d-flex wrapper justify-content-between align-items-center">
  <div class="d-flex left align-items-center">
    <p class="m-0 p-0">
      <ngl-checkbox label="">
        <input ngl type="checkbox">
      </ngl-checkbox>
    </p>
    <mat-icon aria-hidden="false" class="text-danger" aria-label="Example delete icon">expand_more</mat-icon>
  </div>
  <div class="d-flex middle">

  </div>
  <div class="d-flex right">
    <p>Sort</p>
    <mat-icon aria-hidden="false" class="text-danger" aria-label="Example delete icon">expand_more</mat-icon>
  </div>
</div>
