<section class="mails bg-tertiary-gradient pl-2 pr-2">
  <div *ngFor="let mail of mails"
       (mouseenter)="mail.hovered = true"
       (mouseleave)="mail.hovered = false"
       class="d-flex text-white mail align-items-center" [ngClass]="mail.hovered && 'hovered'">
    <p class="m-0 p-0">
      <ngl-checkbox label="">
        <input ngl type="checkbox">
      </ngl-checkbox>
    </p>
    <p class="ellipsis m-0 p-0">{{mail.sender_name}}</p>
    <p class="ellipsis m-0 p-0">{{mail.subject}}</p>
    <p *ngIf="!mail.hovered else deleteMail" class="ellipsis m-0 p-0 align-self-end text-right">{{mail.date_sent | date: 'shortTime' }}</p>
    <ng-template #deleteMail>
      <p class="ellipsis m-0 p-0 align-self-end text-right">
        <mat-icon aria-hidden="false" class="text-danger" aria-label="Example delete icon">delete</mat-icon>
      </p>
    </ng-template>
  </div>
</section>
