<div class="d-flex align-items-center justify-content-between w-100">
  <div class="d-flex w-50 justify-content-between align-items-center">
    <p class="logo-big w-25">VEhMail</p>
    <div class="input-search-wrapper w-75">
      <input name="search" [(ngModel)]="searchData" class="w-100" type="text" placeholder="Find Messages, Documents, or Photos People" required>
      <div class="input-search-icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
      </div>
    </div>
  </div>
  <div class="default-image-wrapper d-flex text-white align-items-center" placement="bottom-right"
       [ngbPopover]="userInfoPopupContent" [popoverTitle]="userInfoPopupTitle">
    <p class="default-image align-self-end"><mat-icon class="text-white" aria-hidden="false" aria-label="Example home icon">person</mat-icon></p>
    <span class="pl-2">Sone</span>
  </div>
</div>

<ng-template #userInfoPopupTitle>
  <div class="popover-default-image-wrapper d-flex align-items-center">
    <p class="popover-default-image align-self-end">
      <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
      <mat-icon class="text-white" aria-hidden="false" aria-label="Example home icon">photo_camera</mat-icon>
    </p>
    <div class="d-flex flex-column justify-content-center ml-3">
      <p class="username">gillis</p>
      <p class="email">gillis@vehmail.com</p>
      <a class="account-info-link" [routerLink]="">Account Info</a>
    </div>
  </div>
</ng-template>

<ng-template #userInfoPopupContent>
  <button routerLink="/" class="btn-signout">Sign out</button>
</ng-template>
