<section class="mail-editor">
  <div class="action-bar">
    <p class="pl-2 text-white font-weight-bold">New Message</p>
    <div>
      <mat-icon (click)="minimize.emit()" aria-hidden="false" aria-label="Example edit icon" class="text-white mr-2 cursor-pointer minimize">minimize</mat-icon>
      <mat-icon (click)="destroy.emit()" aria-hidden="false" aria-label="Example edit icon" class="text-white cursor-pointer close">clear</mat-icon>
    </div>
  </div>
  <div class="content p-2">
    <mat-form-field class="w-100">
      <input matInput placeholder="To" value="">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Bcc" value="">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Reply to" value="">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Sender name" value="">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Subject" value="">
    </mat-form-field>

    <p *ngIf="loadingEditor" class="editor-loader d-flex justify-content-center align-items-center"><img src="assets/gif/loading-parallel-planets.gif" /></p>
    <editor
      apiKey="{{ tinymceAPI }}"
      cloudChannel="5"
      [disabled]="false"
      id=""
      [init]="{  }"
      initialValue=""
      [inline]="false"
      plugins=""
      tagName="div"
      toolbar=""
      (onInit)="loadingEditor = false">

    </editor>
    <div class="d-flex footer">
      <app-button icon="send" size="sm" text="SEND"></app-button>
    </div>
  </div>
</section>
