
<section class="auth-wrapper p-4 animated zoomIn">
  <div class="close-icon d-flex justify-content-end" (click)="closeAuthForm.emit()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
  </div>
  <div class="h-100 d-flex flex-column align-items-center">
    <app-button-segments (changed)="authType = $event" [buttons]="{'1': 'Signup', '2': 'Login'}"></app-button-segments>
    <ng-container *ngIf="authType === '1' else login">
      <h1 class="mt-4">Sign Up for Free</h1>
      <div class="signup-form-split d-flex justify-content-center mb-1">
        <p [ngClass]="signupLevel === 1 ? 'active': 'not-active'" class="mr-1">1</p>
        <p [ngClass]="signupLevel === 2 ? 'active' : 'not-active'">2</p>
        <p [ngClass]="signupLevel === 3 ? 'active' : 'not-active'" class="ml-1">3</p>
      </div>
      <div class="h-100 w-100 d-flex flex-column">
        <form #ngForm *ngIf="signupLevel === 1" class="animated fadeIn">
          <div class="w-100 mb-2">
            <input class="my-input w-100" type="text" placeholder="First Name">
          </div>
          <div class="w-100 mb-2">
            <input class="my-input w-100" type="text" placeholder="Last Name">
          </div>
          <div class="w-100 mb-2">
            <input class="my-input w-100" type="text" placeholder="Country">
          </div>
          <div class="w-100">
            <button (click)="nextSignupPage()" class="my-btn w-50 float-right d-flex align-items-center justify-content-center">
              <span>NEXT</span><mat-icon aria-hidden="false" aria-label="Example home icon">arrow_forward</mat-icon>
            </button>
          </div>
        </form>
        <form #ngForm *ngIf="signupLevel === 2" class="animated fadeIn">
          <div class="w-100 mb-2">
            <input class="my-input w-100" type="text" placeholder="Username">
          </div>
          <div class="w-100 mb-2">
            <input class="my-input w-100" type="text" placeholder="Password">
          </div>
          <div class="w-100 mb-2">
            <input class="my-input w-100" type="text" placeholder="Confirm Password">
          </div>
          <div class="w-100 d-flex">
            <button (click)="prevSignupPage()" class="my-btn w-50 d-flex align-items-center justify-content-center">
              <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_backward</mat-icon>
              <span>BACK</span>
            </button>
            <button (click)="nextSignupPage()" class="my-btn w-50 d-flex align-items-center justify-content-center">
              <span>NEXT</span><mat-icon aria-hidden="false" aria-label="Example home icon">arrow_forward</mat-icon>
            </button>
          </div>
        </form>
        <form #ngForm *ngIf="signupLevel === 3" class="animated fadeIn">
          <div class="w-100 mb-2">
            <input class="my-input w-100" type="text" placeholder="Telephone" [disabled]="insertVerificationCode">
            <p *ngIf="insertVerificationCode" (click)="insertVerificationCode = false" class="text-color-primary cursor-pointer">Edit Phone Number?</p>
          </div>
          <div class="w-100 mb-2 d-flex">
            <input class="my-input w-50" type="text" placeholder="Confirmation Code" [disabled]="!insertVerificationCode">
            <p *ngIf="!insertVerificationCode" (click)="verityPhone()" class="text-color-primary cursor-pointer ml-2 w-50 align-self-end">Resend SMS?</p>
          </div>
          <div class="w-100 d-flex">
            <button (click)="prevSignupPage()" class="my-btn w-50 d-flex align-items-center justify-content-center">
              <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_backward</mat-icon>
              <span>BACK</span>
            </button>
            <button *ngIf="insertVerificationCode" (click)="createAccount()" class="my-btn w-50 d-flex align-items-center justify-content-center">
              <span>CREATE ACCOUNT</span>
            </button>
            <button *ngIf="!insertVerificationCode" (click)="verityPhone()" class="my-btn w-50 d-flex align-items-center justify-content-center">
              <span>SEND SMS</span>
            </button>
          </div>
        </form>
      </div>
    </ng-container>
  </div>
</section>

<!-- Login -->
<ng-template #login>
  <h1 class="mt-4"> Log In </h1>
  <div class="h-100 d-flex flex-column w-100">
    <form #ngForm class="w-100">
      <div class="w-100 mb-2">
        <input class="my-input w-100" type="text" placeholder="Username">
      </div>
      <div class="w-100 mb-2">
        <input class="my-input w-100" type="password" placeholder="password">
      </div>
      <div class="w-100">
        <input class="my-input my-btn w-50 float-right" type="submit" value="LogIn" />
      </div>
    </form>
  </div>
</ng-template>
<!-- login end -->

<!-- signup -->

