
<section class="auth-wrapper p-4 animated zoomIn position-relative" [ngClass]="isLoading && 'blur'">
  <div class="close-icon d-flex justify-content-end" (click)="closeAuthForm.emit()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
  </div>
  <div class="h-100 d-flex flex-column align-items-center">
    <app-button-segments (changed)="authType = $event" [buttons]="{'1': 'Signup', '2': 'Login'}"></app-button-segments>
    <ng-container *ngIf="authType === '1' else login">
      <h1 class="mt-4">Sign Up for Free</h1>
      <div class="signup-form-split d-flex justify-content-center mb-1">
        <p [ngClass]="signupLevel === 1 ? 'active': 'not-active'" class="mr-1">1</p>
        <p [ngClass]="signupLevel === 2 ? 'active' : 'not-active'">2</p>
        <p [ngClass]="signupLevel === 3 ? 'active' : 'not-active'" class="ml-1">3</p>
      </div>
      <ngb-alert *ngIf="signUpError" type="danger" (close)="signUpError = false">{{ signUpErrorText }}</ngb-alert>
      <div class="h-100 w-100 d-flex flex-column">
        <form #signupLevelOne="ngForm" *ngIf="signupLevel === 1" class="animated fadeIn" (ngSubmit)="nextSignupPage()" (submit)="$event.preventDefault()">
          <label>
            First Name
            <div class="w-100 my-input">
              <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
              <input #firstName="ngModel" name="firstName" [(ngModel)]="signupData.first_name" class="w-100" type="text" placeholder="First Name" required>
            </div>
            <div *ngIf="firstName.invalid && firstName.dirty">
              <small *ngIf="firstName.errors.required" class="float-right validation-error">*This field is required</small>
            </div>
          </label>
          <label>
            Last Name
            <div class="w-100 my-input">
              <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
              <input #lastName="ngModel" name="lastName" [(ngModel)]="signupData.last_name" class="w-100" type="text" placeholder="Last Name" required>
            </div>
            <div *ngIf="lastName.invalid && lastName.dirty">
              <small *ngIf="lastName.errors.required" class="float-right validation-error">*This field is required</small>
            </div>
          </label>
          <label>
            <div class="w-100 my-input">
              <mat-icon aria-hidden="false" aria-label="Example home icon">flag</mat-icon>
              <select #country="ngModel" name="country" class="w-100" [(ngModel)]="dialingCode" (change)="signupData.city = ''" required>
                <option *ngFor="let country of countries" [value]="country.dialling_code">{{country.country_name}}</option>
              </select>
            </div>
            <div *ngIf="country.invalid && country.dirty">
              <small *ngIf="country.errors.required" class="float-right validation-error">*This field is required</small>
            </div>
          </label>
          <label>
            City
            <div class="w-100 my-input">
              <mat-icon aria-hidden="false" aria-label="Example home icon">house</mat-icon>
              <input #city="ngModel" class="w-100" type="text" placeholder="City" name="city" [(ngModel)]="signupData.city" required="">
            </div>
            <div *ngIf="city.invalid && city.dirty">
              <small *ngIf="city.errors.required" class="float-right validation-error">*This field is required</small>
            </div>
          </label>
          <label>
            Address
            <div class="w-100 my-input">
              <mat-icon aria-hidden="false" aria-label="Example home icon">apartment</mat-icon>
              <input #address="ngModel" class="w-100" type="text" placeholder="Address" name="address" [(ngModel)]="signupData.address" required="">
            </div>
            <div *ngIf="address.invalid && address.dirty">
              <small *ngIf="address.errors.required" class="float-right validation-error">*This field is required</small>
            </div>
          </label>
          <label>
            Phone number
            <div class="w-100 my-input">
              <mat-icon aria-hidden="false" aria-label="Example home icon">call</mat-icon>
              <span>{{dialingCode}}</span>
              <input #phoneNumber="ngModel" name="phoneNumber" [(ngModel)]="phone" class="w-100" type="number" placeholder="Phone number" required>
            </div>
            <div *ngIf="phoneNumber.invalid && phoneNumber.dirty">
              <small *ngIf="phoneNumber.errors.required" class="float-right validation-error">*This field is required</small>
            </div>
          </label>
          <div class="w-100">
            <button type="submit" class="my-btn w-50 float-right d-flex align-items-center justify-content-center" [disabled]="!signupLevelOne.form.valid">
              <span>NEXT</span><mat-icon aria-hidden="false" aria-label="Example home icon">arrow_forward</mat-icon>
            </button>
          </div>
        </form>
        <form #signupLevelTwo="ngForm" *ngIf="signupLevel === 2" class="animated fadeIn" (submit)="$event.preventDefault()">
          <label>
            Username
            <div class="w-100 my-input">
              <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
              <input #username="ngModel" name="username" [(ngModel)]="signupData.username" class="w-100" type="text" placeholder="Username" required>
              <span>@vehmail.com</span>
            </div>
            <div *ngIf="username.invalid && username.dirty">
              <small *ngIf="username.errors.required" class="float-right validation-error">*This field is required</small>
            </div>
          </label>
          <label>
            Password
            <div class="w-100 my-input">
              <mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon>
              <input #password="ngModel" name="password" [(ngModel)]="passwordText" class="w-100" [type]="passwordType" placeholder="Password" required>
              <mat-icon (click)="passwordType = 'text'" *ngIf="passwordType === 'password'" aria-hidden="false" aria-label="Example home icon">visibility_off</mat-icon>
              <mat-icon (click)="passwordType = 'password'" *ngIf="passwordType === 'text'" aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
            </div>
            <div *ngIf="password.invalid && password.dirty">
              <small *ngIf="password.errors.required" class="float-right validation-error">*This field is required</small>
            </div>
          </label>
          <label>
            Confirm Password
            <div class="w-100 my-input">
              <mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon>
              <input #confirmPassword="ngModel" class="w-100" [type]="confirmPasswordType" placeholder="Confirm Password" [(ngModel)]="confirmPasswordText" name="confirmPassword" required>
              <mat-icon (click)="confirmPasswordType = 'text'" *ngIf="confirmPasswordType === 'password'" aria-hidden="false" aria-label="Example home icon">visibility_off</mat-icon>
              <mat-icon (click)="confirmPasswordType = 'password'" *ngIf="confirmPasswordType === 'text'" aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
            </div>
            <div *ngIf="confirmPassword.invalid && confirmPassword.dirty">
              <small (="confirmPassword.errors.required" class="float-right validation-error">*This field is required</small>
              <br>
              <small *ngIf="passwordText !== confirmPasswordText" class="float-right validation-error">*Passwords must match</small>
            </div>
          </label>
          <div class="w-100 d-flex justify-content-between">
            <button (click)="prevSignupPage()" class="my-btn w-45 d-flex align-items-center justify-content-center">
              <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_backward</mat-icon>
              <span>BACK</span>
            </button>
            <button [disabled]="!signupLevelTwo.valid || passwordText !== confirmPasswordText" (click)="nextSignupPage()" class="my-btn w-45 d-flex align-items-center justify-content-center">
              <span>NEXT</span><mat-icon aria-hidden="false" aria-label="Example home icon">arrow_forward</mat-icon>
            </button>
          </div>
        </form>
        <form #ngForm *ngIf="signupLevel === 3" class="animated fadeIn" (submit)="$event.preventDefault()">
          <p>We have sent an SMS verfication code to
            <span class="text-color-primary font-weight-bold">
              {{dialingCode}} {{phone}}
              <mat-icon (click)="editPhoneNumber()" class="cursor-pointer" aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
            </span>
          </p>
          <label>
            Confirmation Code
            <div class="w-100 my-input">
              <span>V-</span>
              <input #confirmationCode="ngModel" class="w-100" [type]="confirmationCode" placeholder="Confirmation Code" [(ngModel)]="verificationCode" name="confirmPassword" required>
            </div>
<!--            <p *ngIf="insertVerificationCode" (click)="verityPhone()" class="text-color-primary cursor-pointer ml-2 w-50 align-self-end">Resend SMS?</p>-->
          </label>
          <div class="w-100 d-flex justify-content-between">
            <button (click)="prevSignupPage()" class="my-btn w-48 d-flex align-items-center justify-content-center">
              <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_backward</mat-icon>
              <span>BACK</span>
            </button>
            <button *ngIf="insertVerificationCode" (click)="createAccount()" class="my-btn w-48 d-flex align-items-center justify-content-center">
              <span>CREATE ACCOUNT</span>
            </button>
          </div>
        </form>
      </div>
    </ng-container>
  </div>

</section>
<div *ngIf="isLoading" class="position-absolute h-100 w-100 signup-loading d-flex flex-column justify-content-center align-items-center">
  <img src="../../../assets/gif/loading.gif" />
  <span>{{loaderMessage}}</span>
</div>
<!-- Login -->
<ng-template #login>
  <h1 class="mt-4"> Log In </h1>
  <ngb-alert *ngIf="accountCreated" type="info" (close)="accountCreated = false">Your account was successfully created. Log In Below</ngb-alert>
  <ngb-alert *ngIf="signInError" type="danger" (close)="signInError = false">{{ signInErrorText }}</ngb-alert>
  <div class="h-100 d-flex flex-column w-100">
    <form #ngForm class="w-100" >
      <label>
        Email
        <div class="w-100 my-input">
          <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
          <input #username="ngModel" name="username" [(ngModel)]="signInData.username" class="w-100" type="text" placeholder="e.g mail@vehmail.com" required>
        </div>
        <div *ngIf="username.invalid && username.dirty">
          <small *ngIf="username.errors.required" class="float-right validation-error">*This field is required</small>
        </div>
      </label>
      <label>
        Password
        <div class="w-100 my-input">
          <mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon>
          <input #password="ngModel" name="password" [(ngModel)]="signInData.password" class="w-100" [type]="passwordType" placeholder="Password" required>
          <mat-icon (click)="passwordType = 'text'" *ngIf="passwordType === 'password'" aria-hidden="false" aria-label="Example home icon">visibility_off</mat-icon>
          <mat-icon (click)="passwordType = 'password'" *ngIf="passwordType === 'text'" aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
        </div>
        <div *ngIf="password.invalid && password.dirty">
          <small *ngIf="password.errors.required" class="float-right validation-error">*This field is required</small>
        </div>
      </label>
      <div class="w-100 d-flex">
        <button (click)="signIn()" class="my-btn w-48 align-self-end" type="submit">
          <span>LOGIN</span>
        </button>
      </div>
    </form>
  </div>
</ng-template>
<!-- login end -->

<!-- signup -->

