.auth-wrapper {
  width: 100vw;
  background-color: var(--auth-background-color);
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px #fff;
}

h1 {
  font-size: 2em;
}

.signup-form-split {
  p {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 0;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
  }
  .active {
    color: #fff;
    background-color: var(--primary-color);
  }

  input.verfication-code::placeholder {
    text-align: center;
  }

  .not-active {
    color: var(--primary-color);
    background-color: #fff;
    border: 1px solid var(--primary-color);
  }
}

.input-completion {
  right: 15px;
  top: 26%;
  font-size: 1.2em;
  color: var(--primary-color);
}

.input-username {
  padding-right: 30%;
}

.w-45 {
  width: 45%;
}

.signup-loading {
  top: 0;
  left: 0;
  z-index: 3002;
  span {
    background-color: #fff;
    color: #000;
    font-size: 1.2em;
  }
}

.blur {
  filter: blur(2px);
}

form label {
  display: block;
  font-size: 15px;
}
@media only screen and (min-width: 960px) {
  .auth-wrapper {
    width: 500px;
  }
}
