<!--<nb-menu [items]="items">-->
<!--</nb-menu>-->
<section class="h-100 w-100">
  <div *ngFor="let item of items" class="nav">
    <div class="nav-item-head d-flex align-items-center justify-content-between" (click)="item.hideContent = !item.hideContent">
      <div class="d-flex">
        <nb-icon [icon]="item.icon"></nb-icon>
        <p class="pl-1 pr-2">{{item.title}}</p>
        <span *ngIf="item.count !== undefined" class="badge badge-pill badge-success">{{item.count}}</span>
      </div>
      <mat-icon *ngIf="!item.hideContent" aria-hidden="false" aria-label="Example home icon" class="align-content-end">expand_more</mat-icon>
      <mat-icon *ngIf="item.hideContent" aria-hidden="false" aria-label="Example home icon" class="align-content-end">expand_less</mat-icon>
    </div>
    <ng-container *ngIf="!item.hideContent">
      <div *ngFor="let child of item.children" class="mt-1 child-nav" [ngClass]="active === child.title && 'active'" (click)="navigate(child.url)">
        <div class="nav-item-child d-flex align-items-center justify-content-between">
          <div class="d-flex">
            <nb-icon [icon]="child.icon"></nb-icon>
            <p class="pl-1 pr-2">{{child.title}}</p>
            <span *ngIf="child.count !== undefined" class="badge badge-pill badge-success">{{child.count}}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
