<nb-layout center>
  <nb-layout-header class="bg-primary-gradient" [fixed]="true">
    <app-dash-header [user]="userManager.user" class="w-100"></app-dash-header>
  </nb-layout-header>
  <nb-sidebar class="bg-secondary-gradient text-white" [left]="true" [responsive]="true" tag="left">
    <app-left-sidenav></app-left-sidenav>
  </nb-sidebar>
  <nb-layout-column class="bg-tertiary-gradient main-content">
    <router-outlet></router-outlet>
<!--    <app-mail-list [mails]="userManager.inbox"></app-mail-list>-->
<!--    <app-footer></app-footer>-->
  </nb-layout-column>
  <nb-sidebar class="bg-secondary-gradient" [right]="true" [responsive]="true" tag="right">right</nb-sidebar>
</nb-layout>

<div class="compose cursor-pointer" (click)="openMailEditor()">
  <mat-icon aria-hidden="false" aria-label="Example edit icon" class="text-white">edit</mat-icon>
</div>

<app-compose-mail (minimize)="openEditor=false" (destroy)="openEditor=false" *ngIf="openEditor"></app-compose-mail>
