<nb-layout center>
  <nb-layout-header class="bg-primary-gradient">
    <app-dash-header class="w-100"></app-dash-header>
  </nb-layout-header>
  <nb-sidebar class="bg-secondary-gradient text-white" [left]="true" [responsive]="true" tag="left" >
    <app-left-sidenav></app-left-sidenav>
  </nb-sidebar>
  <nb-layout-column class="bg-tertiary-gradient">
    <app-mail-list></app-mail-list>
  </nb-layout-column>
  <nb-sidebar [right]="true" [responsive]="true" tag="right">right</nb-sidebar>
<!--  <nb-layout-footer>Contact us</nb-layout-footer>-->
</nb-layout>
